*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    
}

.header1{
    flex: 3;
    display: flex;
    text-align: left;
}

.header2{
    flex: 5;
    text-align: center;
    padding: 24px;
}

.header3{
    flex: 2;
    text-align: right;
    padding: 24px;
}

.logo{
    height: 70px;
    width: 70px;
}

.search-container{
    flex: 4;
    padding-top:24px ;
}

main{
    display: flex;
    margin-top: 20px;
}

.s1{
    flex: 1;
    position: sticky;
}

.s2{
    flex: 3;
    border: 2px solid white;
}

.s3{
    flex: 1;
    border: 2px solid white;
    background: radial-gradient(circle, rgb(63, 62, 62), rgb(0, 0, 0));
}

details{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

details:hover{
    background-color: rgb(216, 124, 3);
}

summary{
    text-decoration: dashed underline 1px;
}

summary:hover{
    color: rgb(158, 126, 20);
}

img{
    height: 200px;
    width: auto;
    place-items: center;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
}

#img1:hover{
    scale: 1.1;
}